// colors
$color-background: #4b4c85;

// shadows
$shadow-box: rgba(0, 0, 0, 0.7);

// fonts
$font-family: "Open Sans", sans-serif;

// font-sizes
$font-size-large: 3.75rem;
$font-size-small: 0.625rem;