@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(imagens/background.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 12.5rem;
  min-width: 34.375rem;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
}

.relogio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10.625rem;
  min-width: 9.375rem;
  color: #fff;
  background: #4b4c85;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  letter-spacing: 3px;
}

.relogio span {
  font-weight: bolder;
  font-size: 3.75rem;
}

.relogio span.tempo {
  font-size: 0.625rem;
}